<ion-header>
  <ion-toolbar color="vibrant">
      <ion-buttons slot="start">
          <!-- <ion-back-button></ion-back-button> -->
          <ion-button>
            <ion-icon slot="icon-only" name="rewind"></ion-icon>
          </ion-button>
      </ion-buttons>
    <ion-title>Senarai Kehadiran</ion-title>
    <ion-button slot="end" color="kuning">
      Log Out
    </ion-button>
  </ion-toolbar>

  <!-- <ion-toolbar>
      <ion-buttons slot="secondary">
        <ion-button>
          <ion-icon slot="icon-only" name="contact"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="primary">
        <ion-button color="secondary">
          <ion-icon slot="icon-only" name="more"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Default Buttons</ion-title>
    </ion-toolbar> -->

</ion-header>

<ion-content>

</ion-content>
