.ion-color-vibrant {
    --ion-color-base: #ff7300;
    --ion-color-base-rgb: 255,255,0;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 0,0,0;
    --ion-color-shade: #e0ac00;
    --ion-color-tint: #ffaf1a;
  }

  .ion-color-kuning {
    --ion-color-base: #ffc400;
    --ion-color-base-rgb: 255,255,0;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 0,0,0;
    --ion-color-shade: #e0ca00;
    --ion-color-tint: #fff01a;
  }

  .orenheader{
    background-color: #ff7300;
  }

  .line ion-row:nth-child(even) {
    background: #e7b870;
  }

  .line ion-col{
    border: 1px solid rgb(241, 238, 231);
  }